<div ng-controller="caihuaCtrl">
  <div>
      <img src="img/banner_o2o.jpeg" width="100%">
  </div>
    <tabs>
       <tab ng-repeat="tab in tabs"  float="tab.float" tab-title="tab.title" url-type="tab.type"></tab>
   </tabs>
<div id="content">
    <ul id="index_list">
        <li class="tab-list" ng-repeat="item in data">
            <div class="pda">
                <div class="clearfix">
                    <a class="p-pic fl pt1" ng-click="goInfo(item.answer_role_id,$event)"><img lazy-src="{{item.headimg}}">
                    <div class="v" ng-if="item.authen>0"><img lazy-src="img/v{{item.authen}}.png"></div>
                    </a>
                    <div class="fr" ng-if="item.authen>0">
                        <!-- <focus uid="item.answer_role_id" is-focus="item.is_follow"></focus> -->
                        <div class="color-fa mt1 mb2">咨询费:{{item.question_price/100}}元</div>
                        <a class="btn-xs" ng-click="goAsk(item.answer_role_id,type)">付费提问</a>
                    </div>
                    <div class="nickname ml-10 pt1">
                        <p class="f3 color-3d">{{item.name}}<span ng-if="item.hospital!==''">({{item.hospital}})</span></p>
                        <p class="f2 color9">{{item.administrative}}&nbsp;{{item.zhicheng}}</p>
                        <p>已累计回答<span class="color-fa">{{item.answer_num}}</span>个问题
                            被采纳<span class="color-fa">{{item.adopt_count}}</span>个
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
