<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
		<title></title>
	</head>

	<body>
		<div ng-app="" ng-init="firstName='John';person={sex:'male'};items=[1,5,6];pers=[{name:1},{name:2}]">
			<p>名字 : <input type="text" ng-model="firstName"></p>
			<input type="text" ng-model="lastName">
			<h1>Hello {{firstName+lastName}}</h1>
			<span ng-bind='firstName+lastName'></span>
			性别：<span ng-bind="person.sex">
				
			</span>
			<!--循环数组-->
			<ul ng-repeat="item in items">
				<li>{{item}}</li>
				</ul>
				<!--循环对象-->
				<ul ng-repeat="per in pers">
				<li>{{per}}{{per.name}}</li>
				</ul>
		</div>
		
		
	</body>

</html>