<div>
    <tabs>
        <tab ng-repeat="tab in tabs" float="tab.float" tab-title="tab.title" url-type="tab.type"></tab>
    </tabs>
    <div ng-show="type=='new'" class="mb2">
       <!-- <swiper></swiper>-->
    </div>
    <div ng-show="type=='jingpin'" class="mb2">
       <!-- <img src="img/jingpin.png" width="100%">-->
    </div>
    <!--<div ng-show="type=='matches'" class="mb2">
        <img src="img/matches.gif" width="100%">
    </div> -->
    <div>
      <case-swiper></case-swiper>
        <ul id="index_list">
            <li class="tab-list relative" ng-repeat="item in data" render-finished id="{{item.question_id}}">
                <!-- 普通病例 -->
                <div class="tab-cont" ng-if="item.type!=4&&item.type!=7&&item.type!=8">
                    <div class="clearfix">
                        <div class="p-logo fl" ng-click="goInfo(item.role_id,$event)">
                            <a class="p-pic"><img lazy-src="{{item.m_members.headimg}}">
                                <div class="v" ng-if="item.m_members.isrenzheng>0"><img lazy-src="img/v{{item.m_members.isrenzheng}}.png"></div>
                            </a>
                        </div>
                        <div class="p-msg ml-10">
                            <div style="overflow: hidden;">
                                <div class="nickname fl">
                                    <p class="nowrap">{{item.m_members.name}}</p>
                                </div>
                                <div class="fr" ng-if="item.pay_issue_isopen!=1">
                                    <a href="#"><span>{{item.k_price}}</span>医豆<img src="img/mony.png" alt="K币" width="14"></a>
                                    <a href="#" ng-show="item.status==1"><span>求助中</span><img src="img/help.png" alt="求助" width="15"></a>
                                    <a href="#" ng-show="item.status==2"><span>已解决</span><img src="img/ok.png" alt="求助" width="15"></a>
                                    <a href="#"><span>{{item.shownum}}</span><img src="img/eye.png" alt="关注" width="15"></a>
                                </div>
                                <div class="fr" ng-if="item.pay_issue_isopen==1">
                                    <div class="open-pay">公开付费问答</div>
                                </div>
                            </div>
                            <p class="f2 color9 fl">
                                {{item.m_members.hospital}}&nbsp; {{item.m_members.administrative}}&nbsp; {{item.m_members.zhicheng}}
                            </p>
                            <p class="f2 color9 tr pr2 fr" ng-if="item.pay_issue_isopen!=1">
                                {{item.create_time}}
                            </p>
                        </div>
                    </div>
                    <div ng-click="goDetail(item.question_id,item.m_members.id,userInfo.id,item.pay_issue_isopen)">
                        <p class="f3 color-3d mt2">
                            <span>问题:</span>
                            <span ng-bind-html="item.question | br"></span>
                        </p>
                        <div class="photo">
                            <a ng-repeat="pic in item.pic_log" ng-if="$index<3"><img lazy-src="{{pic.site}}{{imgSmall}}"></a>
                            <div class="photo-num" ng-show="item.pic_log.length>3">{{item.pic_log.length}}P</div>
                        </div>
                        <p class="pt1">
                            <span>描述:</span>
                            <span ng-bind-html="item.description | br"></span>
                        </p>
                        <div class="pt1 color9 clearfix" ng-repeat="ext in item.question_exts">
                            <div class="fl ext" ng-switch="ext.type">
                                <span ng-switch-when="0">普通补充{{ext.pic_status-1}}</span>
                                <span ng-switch-when="1">随访补充{{ext.pic_status-1}}</span>
                                <span ng-switch-when="2">病理补充{{ext.pic_status-1}}</span>
                                <span ng-switch-when="3">确诊补充{{ext.pic_status-1}}</span>
                            </div>
                            <div class="ext-cont">
                                <div class="ext-cont-item" ng-show="ext.description!=''">
                                    <img class="ext-pic" src="img/ext_txt.png">
                                    <span ng-bind-html="ext.description | br"></span>
                                </div>
                                <div class="ext-cont-item" ng-repeat="extpic in item.pic_exts" ng-if="extpic.idx==ext.pic_status-1">
                                    <img class="ext-pic" src="img/ext_pic.png">
                                    <span>{{extpic.create_time}}新增{{extpic.count}}张图片</span>
                                </div>
                            </div>
                        </div>
                        <div class="tips">
                            <span class="tip-red" ng-if="item.is_urgent==1">
                                急诊
                            </span>
                            <span class="tip" ng-repeat="tag in item.tag_class">{{tag.title}}</span>
                        </div>
                    </div>
                    <ul class="util clearfix">
                        <li>
                            <a class="br" ng-click="fenxiang($event)">
                                <img src="img/fenxiang.png">
                                <span>{{item.goods}}</span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="goDetail(item.question_id,item.m_members.id,userInfo.id,item.pay_issue_isopen,item.type)" class="br">
                                <img src="img/talk.png">
                                <span>{{item.answer_num}}</span>
                            </a>
                        </li>
                        <li>
                            <collect uid="item.question_id" iscollect="item.current_user_is_collect" num="item.shoucang_num"></collect>
                        </li>
                    </ul>
                </div>

                <!-- /普通病例-->
                <!-- MOOC -->
<!--                <div class="tab-cont" ng-if="item.type==8">
                    <div class="mooc">
                      <a>「医看MOOC」翻转课堂</a>
                    </div>
                    <div class="clearfix">
                        <div class="p-logo fl" ng-click="goInfo(item.role_id,$event)">
                            <a class="p-pic"><img lazy-src="{{item.m_members.headimg}}">
                                <div class="v" ng-if="item.m_members.isrenzheng>0"><img lazy-src="img/v{{item.m_members.isrenzheng}}.png"></div>
                            </a>
                        </div>
                        <div class="p-msg ml-10">
                            <div style="overflow: hidden;">
                                <div class="nickname fl">
                                    <p class="nowrap">{{item.m_members.name}}</p>
                                </div>
                                <div class="fr" ng-if="item.pay_issue_isopen!=1">
                                    <a href="#"><span>{{item.k_price}}</span>医豆<img src="img/mony.png" alt="K币" width="14"></a>
                                    <a href="#" ng-show="item.status==1"><span>求助中</span><img src="img/help.png" alt="求助" width="15"></a>
                                    <a href="#" ng-show="item.status==2"><span>已解决</span><img src="img/ok.png" alt="求助" width="15"></a>
                                    <a href="#"><span>{{item.shownum}}</span><img src="img/eye.png" alt="关注" width="15"></a>
                                </div>
                                <div class="fr" ng-if="item.pay_issue_isopen==1">
                                    <div class="open-pay">公开付费问答</div>
                                </div>
                            </div>
                            <p class="f2 color9 fl">
                                {{item.m_members.hospital}}&nbsp; {{item.m_members.administrative}}&nbsp; {{item.m_members.zhicheng}}
                            </p>
                            <p class="f2 color9 tr pr2 fr" ng-if="item.pay_issue_isopen!=1">
                                {{item.create_time}}
                            </p>
                        </div>
                    </div>
                    <div ng-click="goDetail(item.question_id,item.m_members.id,userInfo.id,item.pay_issue_isopen)">
                        <p class="f3 color-3d mt2">
                            <span>问题:</span>
                            <span ng-bind-html="item.question | br"></span>
                        </p>
                        <div class="photo">
                            <a ng-repeat="pic in item.pic_log" ng-if="$index<3"><img lazy-src="{{pic.site}}{{imgSmall}}"></a>
                            <div class="photo-num" ng-show="item.pic_log.length>3">{{item.pic_log.length}}P</div>
                        </div>
                        <p class="pt1">
                            <span>描述:</span>
                            <span ng-bind-html="item.description | br"></span>
                        </p>
                        <div class="pt1 color9 clearfix" ng-repeat="ext in item.question_exts">
                            <div class="fl ext" ng-switch="ext.type">
                                <span ng-switch-when="0">普通补充{{ext.pic_status-1}}</span>
                                <span ng-switch-when="1">随访补充{{ext.pic_status-1}}</span>
                                <span ng-switch-when="2">病理补充{{ext.pic_status-1}}</span>
                                <span ng-switch-when="3">确诊补充{{ext.pic_status-1}}</span>
                            </div>
                            <div class="ext-cont">
                                <div class="ext-cont-item" ng-show="ext.description!=''">
                                    <img class="ext-pic" src="img/ext_txt.png">
                                    <span ng-bind-html="ext.description | br"></span>
                                </div>
                                <div class="ext-cont-item" ng-repeat="extpic in item.pic_exts" ng-if="extpic.idx==ext.pic_status-1">
                                    <img class="ext-pic" src="img/ext_pic.png">
                                    <span>{{extpic.create_time}}新增{{extpic.count}}张图片</span>
                                </div>
                            </div>
                        </div>
                        <div class="tips">
                            <span class="tip-red" ng-if="item.is_urgent==1">
                                急诊
                            </span>
                            <span class="tip" ng-repeat="tag in item.tag_class">{{tag.title}}</span>
                        </div>
                    </div>
                    <ul class="util clearfix">
                        <li>
                            <a class="br" ng-click="fenxiang($event)">
                                <img src="img/fenxiang.png">
                                <span>{{item.goods}}</span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="goDetail(item.question_id,item.m_members.id,userInfo.id,item.pay_issue_isopen,item.type)" class="br">
                                <img src="img/talk.png">
                                <span>{{item.answer_num}}</span>
                            </a>
                        </li>
                        <li>
                            <collect uid="item.question_id" iscollect="item.current_user_is_collect" num="item.shoucang_num"></collect>
                        </li>
                    </ul>
                </div>
-->                <!-- 付费病例 -->
                <div class="tab-cont" ng-if="item.type==7">
                    <div class="clearfix">
                        <div class="p-logo fl" ng-click="goInfo(item.role_id,$event)">
                            <a class="p-pic"><img lazy-src="{{item.m_members.headimg}}">
                                <div class="v" ng-if="item.m_members.isrenzheng>0"><img lazy-src="img/v{{item.m_members.isrenzheng}}.png"></div>
                            </a>
                        </div>
                        <div class="p-msg ml-10">
                            <div style="overflow: hidden;">
                                <div class="nickname fl">
                                    <p class="nowrap">{{item.m_members.name}}</p>
                                    <div class="color9">
                                        {{item.create_time}}
                                    </div>
                                </div>

                                <div class="fr">
                                    <div class="open-pay">
                                      {{isPay(userInfo.id,item.reward_user)?'已付费查看':'付费病例'}}
                                    </div>
                                </div>
                            </div>
                            <p class="f2 color9 fl">
                                {{item.m_members.hospital}}&nbsp; {{item.m_members.administrative}}&nbsp; {{item.m_members.zhicheng}}
                            </p>
                            <p class="f2 color-fa fr pay-num">
                                已有{{item.reward_user.length}}人付费查看
                            </p>
                        </div>
                    </div>
                    <div
                    ng-click="goDetail(item.question_id,item.m_members.id,userInfo.id,item.pay_issue_isopen,item.type)">
                        <p class="f3 color-3d mt2">
                            <span>问题:</span>
                            <span ng-bind-html="item.question | br"></span>
                        </p>
                        <div class="photo">
                            <a ng-repeat="pic in item.pic_log" ng-if="$index<3"><img lazy-src="{{pic.site}}{{imgSmall}}"></a>
                            <div class="photo-num" ng-show="item.pic_log.length>3">{{item.pic_log.length}}P</div>
                        </div>
                        <p class="pt1">
                            <span>描述:</span>
                            <span ng-bind-html="item.description | br"></span>
                        </p>
                        <div class="pt1 color9 clearfix" ng-repeat="ext in item.question_exts">
                            <div class="fl ext" ng-switch="ext.type">
                                <span ng-switch-when="0">普通补充{{ext.pic_status-1}}</span>
                                <span ng-switch-when="1">随访补充{{ext.pic_status-1}}</span>
                                <span ng-switch-when="2">病理补充{{ext.pic_status-1}}</span>
                                <span ng-switch-when="3">确诊补充{{ext.pic_status-1}}</span>
                            </div>
                            <div class="ext-cont">
                                <div class="ext-cont-item" ng-show="ext.description!=''">
                                    <img class="ext-pic" src="img/ext_txt.png">
                                    <span ng-bind-html="ext.description | br"></span>
                                </div>
                                <div class="ext-cont-item" ng-repeat="extpic in item.pic_exts" ng-if="extpic.idx==ext.pic_status-1">
                                    <img class="ext-pic" src="img/ext_pic.png">
                                    <span>{{extpic.create_time}}新增{{extpic.count}}张图片</span>
                                </div>
                            </div>
                        </div>
                        <div class="tips">
                            <span class="tip-red" ng-if="item.is_urgent==1">
                                急诊
                            </span>
                            <span class="tip" ng-repeat="tag in item.tag_class">{{tag.title}}</span>
                        </div>
                    </div>
                    <ul class="util clearfix">
                        <li>
                            <a class="br" ng-click="fenxiang($event)">
                                <img src="img/fenxiang.png">
                                <span>{{item.goods}}</span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="goDetail(item.question_id,item.m_members.id,userInfo.id,item.pay_issue_isopen,item.type)" class="br">
                                <img src="img/talk.png">
                                <span>{{item.answer_num}}</span>
                            </a>
                        </li>
                        <li>
                            <collect uid="item.question_id" iscollect="item.current_user_is_collect" num="item.shoucang_num"></collect>
                        </li>
                    </ul>
                </div>
                <!--/ 付费病例 -->
                <!-- 大赛病例 -->
                <div class="tab-cont" ng-if="item.type==4">
                    <div class="warn">已结束</div>
                    <div class="clearfix">
                        <div class="p-logo fl" ng-click="goInfo(item.role_id,$event)">
                            <a class="p-pic"><img lazy-src="http://wx.qlogo.cn/mmopen/2IicE7cyNZAxibKXeDWNb0rT7dFyPC5aktL8UBqCUhq8XSWqRv42g2HqkfiaynoZNDibLdxaGKB9oLUYk00PmVWia2znNGsEkMKY1/0">
                                <div class="v"><img lazy-src="img/lv.png"></div>
                            </a>
                        </div>
                        <div class="p-msg ml-10">
                            <div style="overflow: hidden;">
                                <div class="nickname fl">
                                    <p class="nowrap">医看大赛</p>
                                </div>
                            </div>
                            <p class="f2 color9 fl">
                                {{item.create_time}}
                            </p>
                        </div>
                    </div>
                    <div ng-click="goDetail(item.question_id,item.m_members.id,userInfo.id,item.pay_issue_isopen)">
                        <p class="f3 color-3d mt2">{{item.activity_info.name}}</p>
                        <div class="photo">
                            <a ng-repeat="pic in item.pic_log" ng-if="$index<3"><img lazy-src="{{pic.site}}{{imgSmall}}"></a>
                            <div class="photo-num" ng-show="item.pic_log.length>3">{{item.pic_log.length}}P</div>
                        </div>
                        <p class="pt1">主述：<span ng-bind-html="item.description | br"></span></p>
                        <p class="pt1">病例提供：<span ng-bind-html="item.question | br"></span></p>
                        <div class="pt1 color9 clearfix" ng-repeat="ext in item.question_exts">
                            <div class="fl ext" ng-switch="ext.type">
                                <span ng-switch-when="0">普通补充{{ext.pic_status-1}}</span>
                                <span ng-switch-when="1">随访补充{{ext.pic_status-1}}</span>
                                <span ng-switch-when="2">病理补充{{ext.pic_status-1}}</span>
                                <span ng-switch-when="3">确诊补充{{ext.pic_status-1}}</span>
                            </div>
                            <div class="ext-cont">
                                <div class="ext-cont-item" ng-show="ext.description!=''">
                                    <img class="ext-pic" src="img/ext_txt.png">
                                    <span ng-bind-html="ext.description | br"></span>
                                </div>
                                <div class="ext-cont-item" ng-repeat="extpic in item.pic_exts" ng-if="extpic.idx==ext.pic_status-1">
                                    <img class="ext-pic" src="img/ext_pic.png">
                                    <span>{{extpic.create_time}}新增{{extpic.count}}张图片</span>
                                </div>
                            </div>
                        </div>
                        <div class="tips">
                            <span class="tip" ng-repeat="tag in item.tag_class">{{tag.title}}</span>
                        </div>
                    </div>
                    <ul class="util clearfix">
                        <li>
                            <a class="br" ng-click="fenxiang()">
                                <img src="img/fenxiang.png">
                                <span>{{item.goods}}</span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="goDetail(item.question_id,item.m_members.id,userInfo.id,item.pay_issue_isopen)" class="br">
                                <img src="img/talk.png">
                                <span>{{item.answer_num}}</span>
                            </a>
                        </li>
                        <li>
                            <collect uid="item.question_id" iscollect="item.current_user_is_collect" num="item.shoucang_num"></collect>
                        </li>
                    </ul>
                </div>
                <!--/ 大赛病例 -->
            </li>
        </ul>
    </div>
    <div class="next pda">
        <div class="next-btn" ng-click="getMore(type)">点击加载更多</div>
    </div>
</div>
